*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    position: relative;
    background-image: url(./TicTacToe/background.jpg);
    background-size: contain;
    width: 100%;
    height: 100vh;
    .jeu{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        align-content: center;
        width: 50%;
        
        .row{
        
        }
    }
    .info{
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-content: space-evenly;
        width: 50%;
        h1{
            font-size: 3rem;
        }
        button {
            text-align: center;
            width: 30%;
            font-size: 2rem;
            margin-top: 40px;
        }
    }
}

.cases {
    border: none;
    background-color: rgba(180, 180, 180, 0.5);
    img {
        max-height: 150px;
        max-width: 150px;
    }
}